/* Tags */
.taggs {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.taggs li {
  float: left; 
}

.tagg {
  background: #9400D3;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tagg::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tagg::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #9400D3;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.tagg:hover {
  background-color: #32CD32;
  color: white;
}

.tagg:hover::after {
   border-left-color: #32CD32;
}
/* figure caption */
.figure{
	padding: 0.9em;
	margin: 0 auto 1em;
}
.figure img{
    	margin: 0 auto;
	display: block;
	max-width: 100%;
}
.figure figcaption {
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #808080;
  border: none;
  display: block;
  background: transparent;
  word-wrap:normal;
  text-align: center;
}
.figure-left {
	float: left;
        margin: 0 1.5em .5em 0;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
}
.figure-right {
	float: right;
        margin: 0 0 .5em 1.5em;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
}

.figure-right img,
.figure-left img {
	max-width: 300px;
}

/* @media (max-width: 767px) {
	.figure-left,
	.figure-right {
		float: none;
		margin: 0 0 1em 0;
		width: 100%;
	}

	.figure img {
		max-width: 100%;
	}
} */
#myBtn{display:none;position:fixed;bottom:20px;right:30px;z-index:99;border:none;outline:none;background-color:#9400D3;color:white;cursor:pointer;padding:15px;border-radius:10px;visibility:visible;opacity:0.65;}
#myBtn:hover{background-color:#555;}
/* card category link */
.card .category{
    color: #999999;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    color:orange;
    font-size: 16px;
    font-weight: bold;
}
/* Typography */
body {
  font-size: 24px;
}

@include media-breakpoint-up(sm) {
  body {
    font-size: 24px;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 22px;
  }
}

@include media-breakpoint-up(lg) {
  body {
    font-size: 28px;
  }
}
