pre {
    background: #222;
    width: 100%;
    padding: 1.25rem 0;
    color: #fff;
    margin: 1.875rem 0;
    font-size: .875rem;
}
@media only screen and (min-width:37.5rem) {
    pre {
    font-size: 1rem;
    padding: 2.5rem 0;
    margin: 3.125rem 0;
}
}pre code {
    *zoom: 1;
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 1.25rem;
}
pre code:before, pre code:after {
    content: '';
    display: table;
}
pre code:after {
    clear: both;
}
@media only screen and (max-width:37.5rem) {
    pre code {
    overflow-x: scroll;
}
}pre span {
    line-height: 1.5rem;
    font-family: 'Monaco', 'Consolas', 'Menlo', monospace;
}
.highlight {
    margin: 1.25rem 0;
}
@media only screen and (min-width:37.5rem) {
    .highlight {
    word-wrap: break-word;
}
}.highlight .hll {
    background-color: #333;
}
.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
    color: #75715e;
}
.highlight .err {
    color: #960050;
    background-color: #1e0010;
}
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .no {
    color: #66d9ef;
}
.highlight .l, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .se, .highlight .il {
    color: #ae81ff;
}
.highlight .o, .highlight .p {
    color: #f7f7f2;
}
.highlight .m, .highlight .n, .highlight .nb, .highlight .ni, .highlight .nl, .highlight .nn, .highlight .py, .highlight .nv, .highlight .w, .highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi {
    color: #a4d043;
}
.highlight .kn, .highlight .nt, .highlight .ow {
    color: #f92672;
}
.highlight .ge {
    font-style: italic;
}
.highlight .gs {
    font-weight: bold;
}
.highlight .ld, .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
    color: #e6db74;
}
.highlight .na, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .nf, .highlight .nx {
    color: #a6e22e;
}
