.openBtn {
    background: transparent;
    position: absolute;
    top: 10px;
    right: 40px;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    }
.openBtn:hover {
    background: #bbb;
}
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(253,0,240,0.9);
}
.overlay-content {
    position: relative;
    top: 10%;
    right: 10%;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    margin: auto;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
.overlay .closebtn:hover {
    color: #ccc;
}
.overlay input[type=text] {
    padding: 15px;
    font-size: 40px;
    font-weight: 300;
    border: none;
    float: left;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}
.overlay input[type=text]:hover {
    Color: #ffffff;
    font-weight: 300;
}
.overlay input[type=text] {
    outline: 0;
    box-shadow: none;
}
