---
layout: default
title: Welcome to Our Blog
---
  
<div class="container-fluid">
<div class="card-deck">
<div class="row">
{% for post in paginator.posts %}
   <div class="col-sm-4">
   <div class="card card-nav-tabs">
      <div class="header header-{{ post.card_color }}">
        <div class="nav-tabs-wrapper">
      <ul class="nav nav-tabs" data-tabs="tabs">
       <li class="nav-item">
       {{ post.title }}
           </li>
       </ul>
              </div>
              </div>
     <div class="content">
        <img class="card-img-top img-responsive" src="{{ site.baseurl }}/{{ post.img }}" alt="Card image">
       <div class="tab-content text-center">
           <div class="tab-pane active" role="tabpanel" style="overflow: hidden;">
           <button class="btn btn-{{ post.card_color }} btn-round">
               <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}
               </button>
           <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-{{ post.card_color }}">Read More</a>
           </div>
         </div>
        </div>
      </div>
      </div>
       {% endfor %}
     </div>
  </div>
</div>
    <!-- Pagination links -->
<div class="text-center">
    <ul class="pagination pagination-primary flex-wrap">
    {% if paginator.total_pages == 1 %}
        <li class="page-item active">
    <a class="page-link active" href="{{ site.baseurl }}">&nbsp; &nbsp; &nbsp; {{ page }} &nbsp; &nbsp; &nbsp;</a>
        </li>
    {% endif %}
{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
        <li class="page-item">
    <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        </li>
  {% else %}
        <li class="page-item disabled">
    <a class="page-link" href="#">&laquo; Prev</a>
        </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
   {% if page == paginator.page %}
            <li class="page-item active">
       <a class="page-link" href="{{ site.baseurl }}">{{ page }}</a>
            </li>
    {% elsif page == 1 %}
      <li class="page-item">
      <a class="page-link" href="{{ site.baseurl }}">{{ page }}</a>
      </li>
    {% else %}
        <li class="page-item">
      <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">&nbsp; &nbsp; &nbsp;{{ page }}&nbsp; &nbsp; &nbsp;</a>
     </li>
   {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
      <li class="page-item">                                                                                                                     
    <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      </li>
  {% else %}
     <li class="page-item disabled">
    <a class="page-link" href="#">Next &raquo;</a>
     </li>
  {% endif %}
{% endif %}
</ul>
<!-- end of pagination -->
</div>
