---
layout: main
---
<div class="main">
    <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
        </br>
      {% for post in paginator.posts %}
        <div class="card">
      <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="{{ site.color }}">
       <li class="nav-item">
       <i class="now-ui-icons objects_umbrella-13"></i> {{ post.title }}
           </li>
       </ul>
     <div class="card-body">
       <div class="tab-content text-center">
           <div class="tab-pane active" id="home" role="tabpanel">
           <button class="btn btn-success btn-round">
               <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}
               </button>
           <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
               <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read More</a>
           </div>
         </div>
        </div>
      </div>
       {% endfor %}
     </div>
</div>
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pagination pagination-primary">
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
          <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></span></li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="/">First</a></li>

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item active">
             <a class="page-link">{{ page }}<span class="sr-only">(current)</span></a>
          </li>
        {% elsif page == 1 %}
          <li class="page-item"><a class="page-link" href="/">{{ page }}</a></li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li class="page-item"><a class="page-link" href="/page{{ paginator.total_pages }}/">Last</a></li>

      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
</div><!-- end #home -->
