---
layout: default
---
<div class="main">
    <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
      {% for post in paginator.posts %}
      <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="{{ site.color }}">
       <li class="nav-item">
       <a class="nav-link active" data-toggle="tab" href="{{ post.url | prepend: site.baseurl }}" role="tab">
            <i class="now-ui-icons objects_umbrella-13"></i> {{ post.title }}
          </a>
       </li>
       </ul>
     <div class="card-body">
       <div class="tab-content text-center">
           <div class="tab-pane active" id="home" role="tabpanel">
           <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
           </div>
         </div>
        </div>
       {% endfor %}
    </div>
   </div>
</div>
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pagination pagination-primary">
      {% if paginator.previous_page %}
        <li class="page-item">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
          <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
          </a>
        </li>
      {% else %}
        <li class="previous disabled"><span aria-hidden="true">&laquo;</span></li>
      {% endif %}

      <li><a href="/">First</a></li>

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active">
             <a>{{ page }}<span class="sr-only">(current)</span></a>
          </li>
        {% elsif page == 1 %}
          <li><a href="/">{{ page }}</a></li>
        {% else %}
          <li>
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li><a href="/page{{ paginator.total_pages }}/">Last</a></li>

      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        </li>
      {% else %}
        <li class="next disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
</div><!-- end #home -->
