{% if include.alt %}{% assign altText = include.alt %}{% else %}{% assign altText = include.caption %}{% endif %}
<figure style="{% if include.position %}float:{{ include.position }}{% endif %};">
 <!-- <div class="clearfix"> -->
  <img src="{{ include.image }}" class="img-responsive {% if include.position %}pull-{{ include.position }}{% endif %}" {% if altText %}alt="{{ altText }}"{% endif %}>
 <!-- </div> -->
    {% if include.caption %} <figcaption>{{ include.caption }}</figcaption>{% endif %}
</figure>
