{% if include.alt %}{% assign altText = include.alt %}{% else %}{% assign altText = include.caption %}{% endif %}
<figure>
 <!-- <div class="clearfix"> -->
  <img class="image" src="{{ include.image }}" class="img-responsive {% if include.position %}pull-{{ include.position }}{% endif %} " {% if altText %}alt="Image - {{ altText }}"{% endif %}>
 <!-- </div> -->
    {% if include.caption %} <figcaption class="figure-caption {% if include.position %}text-{{ include.position }}{% endif %}">{{ include.caption }}</figcaption>{% endif %}
</figure>
