<footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://chipprogrammers.github.io/online-cv.com">
                                Arun K S
                            </a>
                        </li>
                        <li>
                            <a href="http://github.com/chipprogrammers">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://chipprogrammer.blogspot.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                MIT License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Made with <i class="fa fa-heart" style=color:red;></i> by <a target="blank" href="https://chipprogrammer.blogspot.com>Arun</a>
                     </div>
            </div>
        </footer>
