<footer class="panel panel-footer">
 <div class="text-center col-md-12 col-lg-8">
  <h3>Contact Me!</h3>
    </div>
  <div class="text-center col-md-12 col-lg-8">
   {% for x in site.data.social %}
   <!-- <button class="btn btn-primary btn-fab btn-fab-mini btn-round"> -->

   <a target="_blank" href="{{ x.link }}" class="btn btn-primary btn-fab btn-fab-mini btn-{{ x.icon }} btn-round btn-lg" rel="tooltip" title="{{ x.tooltip }}">
  <i class="fa fa-{{ x.icon }}" style="color:{{ x.color }}"></i>
      {% endfor %}
    </a>
 </div>
  <!--  </div> -->
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://chipprogrammers.github.io/online-cv">
                                Arun K S
                            </a>
                        </li>
                        <li>
                            <a href="http://github.com/chipprogrammers">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://chipprogrammer.blogspot.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                MIT License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Made with <i class="fa fa-heart" style=color:red;></i> by <a href="https://chipprogrammer.blogspot.com" target="_blank">Arun</a>
                     </div>
            </div>
        </footer>
