        <div class="page-header clear-filter" filter-color="{{ site.color }}">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ site.headerImage }}');">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <img class="n-logo" src="{{ site.logo }}" alt="">
                    <h1 class="h1-seo">{{ site.tagline }}</h1>
                    <h3>{{ site.description }}</h3>
                </div>
                <h6 class="category category-absolute">Designed by
                    <a href="http://invisionapp.com/" target="_blank">
                        <img src="./assets/img/invision-white-slim.png" class="invision-logo" />
                    </a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">
                        <img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
                    </a>.</h6>
            </div>
        </div>
