<div class="wrapper">
	<div class="header header-filter" style="background-image: url('{{ site.headerImage }}');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>{{ page.title }}</h1>
						{% if page.date %}
                                                <p>Posted on {{ page.date | date_to_string }}</p>
                                                 {% endif %}
						 {% for category in page.categories %}
                                                 <a href="{{ site.baseurl }}/category/{{ category }}">Category: {{ category }}</a>
                                                {% if forloop.last == false %}, {% endif %}
                                                 {% endfor %}
					</div>
				</div>
			</div>

		</div>
	</div>
