<div class="card-box col-md-4 col-sm-6">
                <div class="card">                            
                    <div class="header">
                        <img src="{{ site.baseurl }}/{{ post.img }}"/>
                        <div class="filter"></div>
                        
                        <div class="actions">
                            <button class="btn btn-round btn-fill btn-neutral btn-modern">
                                Read Article
                            </button>
                        </div>
                    </div>
                    
                    <div class="content">
                        <a href="{{ site.baseurl }}/category/{{ post.categories }}"><h6 class="category">{{ post.categories }}</h6></a>
                        <h4 class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                        <p class="description">{{ post.content | strip_html | truncatewords: 40 }}</p>
                    </div>                                           
                </div> <!-- end card -->
             </div>
