<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
        <div class="container">
        <div class="navbar-header">
	<div class="nav navbar-nav navbar-right">
        <a class="text-success" href="#search"><i class="material-icons">search</i></a>
	{% include site_search.html %}
	</div>
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a href="{{ site.url |prepend:site.baseurl }}">
	        	<div class="logo-container">
	                <div class="logo">
	                    <img src="{{ site.baseurl }}/static/img/logo.png" alt="Imbue" rel="tooltip" title="{{ site.description }}" data-placement="bottom" data-html="true">
	                </div>
	                <div class="brand">
	                    {{ site.title }}
	                </div>


				</div>
	      	</a>
	    </div>
	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
		<!-- <div class="super-search" id="js-search">
                <ul class="super-search__results" id="js-search__results"></ul>        
                <button class="btn btn-primary btn-just-icon" onclick="superSearch.toggle()">
                <i class="material-icons">close</i>
                   </button>
                </div> -->
			<!-- <li>
				<a rel="tooltip" title="{{ search }}" data-placement="bottom" href="/imbue/search.html" class="btn btn-white btn-simple btn-just-icon">
				<i class="fa fa-search"></i>
				</a>
					</li> -->
			{% for y in site.data.navigation %}
			<li>
				<a rel="tooltip" title="{{ y.tooltip }}" data-placement="bottom" href="{{ y.url }}" class="btn btn-white btn-simple btn-just-icon">
				<i class="fa {{ y.icon }}"></i>
				</a>
			</li>
			{% endfor %}
		</ul>
	    </div>
	</div>
</nav>
<!-- End Navbar -->
