<div id="myOverlay" class="overlay">
  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
  <div class="overlay-content">
  <!-- <form> -->
  <input type="text" placeholder="Search.." id="js-overlay__input" name="search">
  <!-- </form> -->
    </div>
    <ul class="overlay__results" id="js-overlay__results"></ul>
  </div>
<i class="openBtn fa fa-search" onclick="openSearch()"></i>
<script>
  superSearch({
	searchFile: '/feed.xml',
	searchSelector: '#js-overlay', // CSS Selector for search container element.
	inputSelector: '#js-overlay__input', // CSS selector for <input>
	resultsSelector: '#js-overlay__results' // CSS selector for results container
});
  </script>
