<html>
<head>
{% include head.html %}
</head>
  
<body class="index-page">
  {% include navbar.html %}
  {% include hero_header.html %}

	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main main-raised">
	<div class="container">
	<div class="row text-justify">
	<div class="col-md-8 col-md-offset-2">
      {% include content.html %}
        </div>
	</div>
  	</div>
	</div>
    {% include footer.html %}
</body>
  {% include js.html %}
</html>
